.DurationLabel {
  font-family: var(--oswald), serif;
  letter-spacing: 1px;
  box-shadow: 0 4px 4px 0 #00000040;

  &_type_clearBlur {
    background-color: #ffffff1a;
  }
  &_type_blackWhite {
    background-color: #fff;
    color: #000;
  }
}
