.UpcomingActivities {
  position: relative;
  z-index: 2;
  margin-top: -100px;
  width: 100%;
  min-height: 500px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/images/bg-upcoming-activities-xs.jpg");
}
